body {
    font-size: 16px;
    min-height: 800px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.upper-flower,
.bottom-flower {
     background: url("images/flowers.png") 0 0 no-repeat;
     width: 420px;
     height: 350px;
    z-index: -1;
 }

.upper-flower {
    position: fixed;
    top: 0;
    left: 0;
}

.bottom-flower {
    position: fixed;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#wrapper {
    max-width: 1100px;
    margin: 0px auto;
    /*background-color: #fff;*/
    position: relative;
    /*border: 1px solid #fff;*/
    /*border-radius: 4px;*/
}

.navbar-form {
    border: 0;
}

.navbar-form > p {
    margin-top: 50px;
    margin-left: 100px;
    padding: 2px 10px;
    font-family: 'Marck Script', cursive;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.navbar-inverse {
    margin-top: 50px;
    border: 0;
    background: none;
}

.navbar-inverse .navbar-nav > li > a,
.dropdown-menu > li > a {
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-nav > li > a.active {
    color: #24723C;
}

.slide {
    background-color: #efe7c3;
}

#text {
    width: 60%;
    margin: 50px auto;
    text-align: center;
    font-size: 1.3em;
    /*font-family: 'Marck Script', cursive;*/
}

#text span {
    color: #84A049;
}

#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#gallery > figure img {
    height: 400px;
    margin: 20px;
}

#myCarousel {
    height: 800px;
}

.carousel-indicators {
    position: relative;
    margin-top: 20px;
    list-style: none;
}

.carousel-indicators img {
    max-height: 100px;
    cursor: pointer;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-width: 70%;
    max-height: 800px;
    margin: auto;
    vertical-align: middle;
}

figcaption {
    text-align: center;
}

.first {
    width: 100%;
    margin-left: 30px;
}

#article {
    width: 80%;
    margin: 0 auto;
}

h4 {
    margin-left: 50px;
}

#article img {
    max-width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    height: 80px;
    padding: 30px;
    /*background-color: #fff;*/
    /*border: 1px solid #fff;*/
}

footer div {
    margin: 20px 10px 50px;
}

footer div a {
    margin-bottom: 20px;
    padding: 15px;
    color: #000;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    cursor: pointer;
}

footer div a:hover {
    color: #24723C;
}

@media screen and (max-width: 1200px) {
    .carousel-indicators img {
        width: 60px;
        height: 43px;
        margin: 4px;
    }
}

@media screen and (max-width: 760px) {
    .carousel-indicators img {
        width: 40px;
        height: 28px;
        margin: 2px;
    }
}

@media screen and (max-width: 502px) {
    .carousel-indicators img {
        display: none;
    }
}