body {
    height: auto;
    font-size: 16px;
    min-height: 800px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.upper-flower,
.bottom-flower {
    background: url("/Images/ornament.png") 0 0 no-repeat;
    width: 500px;
    height: 760px;
    z-index: -1
}
.upper-flower {
    position: absolute;
    top: 0;
    left: 0
}
.helper {
    height: 120px;
    position: relative
}
.bottom-flower {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}
#wrapper {
    max-width: 1100px;
    margin: 0 auto;
    position: relative
}
.navbar-form {
    border: 0
}
.navbar-form>p {
    margin-top: 50px;
    padding: 2px 10px;
    font-family: 'Marck Script', cursive;
    font-size: 2em;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 4px
}
.navbar-inverse {
    margin-top: 50px;
    border: 0;
    background: none
}
.navbar-inverse .navbar-nav>li>a,
.dropdown-menu>li>a {
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, .8)
}
.navbar-inverse .navbar-nav>li>a.active {
    color: #24723c;
}
.slide {
    background-color: rgba(255,255,255,0.5);
}
#text {
    width: 60%;
    margin: 50px auto;
    text-align: center;
    font-size: 1.3em
}
#text span {
    color: #84a049
}
.text-center {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #24723C;
    margin-bottom: 50px;
}
.description {
    margin: 50px 164px;
    width: 800px;
}
.delivery-time,
.price,
.date,
.content {
    margin: 20px 164px;
    width: 800px;
}
.delivery-time > span,
.price > span,
.date > span {
    color: #24723C;
}
#gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row
}
#gallery>figure {
    width: 300px;
    overflow: hidden;
    text-align: center
}
#gallery>figure img {
    height: 90%;
    max-height: 300px;
    width: auto;
    padding: 10px 0
}
#myCarousel {
    height: 600px
}
.carousel-indicators {
    position: relative;
    margin-top: 20px;
    list-style: none
}
.carousel-indicators img {
    max-height: 100px;
    cursor: pointer
}
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    /*max-width: 70%;*/
    height: 600px;
    margin: auto;
    vertical-align: middle
}
.carousel-control.right,
.carousel-control.left {
    color: #24723C;
    background-image: none;
}
figcaption {
    text-align: center
}
.first {
    width: 100%;
    margin-left: 30px
}
.carousel-indicators img {
    margin-bottom: 5px
}
#article {
    width: 80%;
    margin: 0 auto
}
h4 {
    margin-left: 50px
}
#article img {
    max-width: 80%;
    margin-top: 30px;
    margin-bottom: 30px
}
form {
    width: 100%
}
form label {
    width: 100%
}
textarea {
    display: block;
    width: 100%
}
.row {
    width: 95%;
    margin: 0 auto;
}
.row .col-lg-12 {
    background-color: rgba(255,255,255,0.8);
}
.row .col-lg-12 img {
    margin: 10px 0 20px 20px;
}
.control-label {
    background-color: rgba(255,255,255,0.8);
}
.form-group input[type="submit"] {
    background-color: rgba(58,128,79,0.8);
    border-color: #24723C;
}
.form-group input[type="submit"]:hover {
    background-color: #24723c;
}
footer {
    height: 80px;
    padding-top: 30px
}
footer div {
    margin: 20px 10px 0
}
footer div a {
    margin-right: 100px;
    margin-bottom: 20px;
    text-align: right;
    color: #000;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 4px;
    cursor: pointer
}
footer div a:hover {
    color: #24723c
}
@media screen and (max-width: 1200px) {
    .carousel-indicators img {
        width: 60px;
        height: 43px;
        margin: 4px
    }
    .description,
    .delivery-time,
    .price {
        width: 70%;
    }
}
@media screen and (max-width: 760px) {
    .carousel-indicators img {
        width: 40px;
        height: 28px;
        margin: 2px
    }
    .description,
    .delivery-time,
    .price {
        margin-left: 50px;
    }
    footer div {
        text-align: right;
    }
}
@media screen and (max-width: 502px) {
    .carousel-indicators img {
        display: none
    }
}